In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [2]:
df = pd.read_csv("bankruptcy-prevention.csv")
df

,industrial_risk,management_risk,financial_flexibility,credibility,competitiveness,operating_risk,class
0,0.5,1.0,0.0,0.0,0.0,0.5,bankruptcy
1,0.0,1.0,0.0,0.0,0.0,1.0,bankruptcy
2,1.0,0.0,0.0,0.0,0.0,1.0,bankruptcy
3,0.5,0.0,0.0,0.5,0.0,1.0,bankruptcy
4,1.0,1.0,0.0,0.0,0.0,1.0,bankruptcy
...,...,...,...,...,...,...,...
245,0.0,1.0,1.0,1.0,1.0,1.0,non-bankruptcy
246,1.0,1.0,0.5,1.0,1.0,0.0,non-bankruptcy
247,0.0,1.0,1.0,0.5,0.5,0.0,non-bankruptcy
248,1.0,0.0,0.5,1.0,0.5,0.0,non-bankruptcy
249,1.0,0.0,0.5,0.5,1.0,1.0,non-bankruptcy

In [3]:
df.columns

Index(['industrial_risk', 'management_risk', 'financial_flexibility',
       'credibility', 'competitiveness', 'operating_risk', 'class'],
      dtype='object')

In [4]:
# replace "bankruptcy" by '0' and "non-bankruptcy" as '1'

df["class"] = df["class"].replace("bankruptcy",0)
df["class"] = df["class"].replace("non-bankruptcy",1)

In [5]:
df

,industrial_risk,management_risk,financial_flexibility,credibility,competitiveness,operating_risk,class
0,0.5,1.0,0.0,0.0,0.0,0.5,0
1,0.0,1.0,0.0,0.0,0.0,1.0,0
2,1.0,0.0,0.0,0.0,0.0,1.0,0
3,0.5,0.0,0.0,0.5,0.0,1.0,0
4,1.0,1.0,0.0,0.0,0.0,1.0,0
...,...,...,...,...,...,...,...
245,0.0,1.0,1.0,1.0,1.0,1.0,1
246,1.0,1.0,0.5,1.0,1.0,0.0,1
247,0.0,1.0,1.0,0.5,0.5,0.0,1
248,1.0,0.0,0.5,1.0,0.5,0.0,1
249,1.0,0.0,0.5,0.5,1.0,1.0,1

In [6]:
# Converting datset into array format

data = df.values
data

array([[0.5, 1. , 0. , ..., 0. , 0.5, 0. ],
       [0. , 1. , 0. , ..., 0. , 1. , 0. ],
       [1. , 0. , 0. , ..., 0. , 1. , 0. ],
       ...,
       [0. , 1. , 1. , ..., 0.5, 0. , 1. ],
       [1. , 0. , 0.5, ..., 0.5, 0. , 1. ],
       [1. , 0. , 0.5, ..., 1. , 1. , 1. ]])

In [7]:
# Spliting the data into dependent amd independent variable

x = df.iloc[: , :-1]
y = df.iloc[:,-1]

In [8]:
# Train - Test split

from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y ,
                                   random_state = 42, 
                                   test_size = 0.3)
#here we split our whole dataset in 70% - 30% split.

In [9]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(penalty = 'l2' , max_iter = 100 , C = 1)
LR.fit(x_train , y_train)
pred_LR = LR.predict(x_test)

In [10]:
import pickle
from pickle import load

In [11]:
file = "LR_model.pkl"
pickle.dump(LR, open(file, 'wb'))

In [13]:
model = pickle.load(open(r"C:\Users\Admin\Downloads\LR_model.pkl", 'rb'))
logistic_regression = LR.predict(x_test)